{% extends "../layout.njk" %}

{% from '../components/colour-chart-divider.njk' import colourChartDivider %}

{% block body %}
<div class="banner">
  <img src="{{ page.banner.src }}" alt="{{ page.banner.alt }}">
  <div class="banner__margin"></div>
</div>

<div class="slogan">
  <div class="slogan__text-container">
    <h2>{{ page.slogan }}</h2>
  </div>
  {% call colourChartDivider() %}{% endcall %}
</div>

<section class="section section--white">
  <div class="section__inner">
    <h3>{{ page.services.title }}</h3>
    <p>Lorem ipsum</p>
  </div>
</section>

{% endblock %}
