{% extends "../layout.njk" %}

{% from '../components/colour-chart-divider.njk' import colourChartDivider %}

{% block body %}
<div class="banner">
  <img src="{{ page.banner }}">
  <div class="banner__margin"></div>
</div>

<div class="slogan">
  <div class="slogan__text-container">
    <h2>{{ page.slogan }}</h2>
  </div>
  {% call colourChartDivider() %}{% endcall %}
</div>

<section class="section section--white">
  <div class="section__inner">
    <h3>{{ page.services.title }}</h3>
    <div class="services-block">
      {% for section in page.services.sections %}
        <div class="services-block__column">
          {% for item in section.items %}
            <div class="services-block__row">
              <svg><use href="#{{ item.icon }}" /></svg>
              <p>{{ item.text }}</p>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="about" class="section section--red">
  <div class="section__inner">
    <h3>{{ page.about.title }}</h3>
    <div class="text-block paragraph-group">
        {% for para in page.about.description.paragraphs %}
          <p>{{ para }}</p>
        {% endfor %}
    </div>
  <div>
</section>

<section id="work" class="section section--grey">
  <div class="section__inner">
    <h3>{{ page.portfolio.title }}</h3>
    <div class="rotating-gallery">
      <div class="rotating-gallery__grid">
        {% for image in page.portfolio.images %}
          <figure class="rotating-gallery__item">
            <img src="{{ image.src }}" alt="{{ image.alt }}">
            <figcaption>
              <span>{{ image.caption }}</span>
            </figcaption>
          </figure>
          
        {% endfor %}
        <button class="rotating-gallery__button--back" aria-hidden="true">
          <svg><use href="#icon-arrow-left" /></svg>
        <button>
        <button class="rotating-gallery__button--forward" aria-hidden="true">
          <svg><use href="#icon-arrow-right" /></svg>
        <button>
      </div>
    </div>
  </div>
</section>

<section class="section section--white">
  <div class="section__inner">
    <h3>{{ page.clients.title }}</h3>
    <div class="text-block">
      <p>
        {{ page.clients.preamble }}
      </p>
      <ul class="bullet-list paragraph">
        {% for company in page.clients.list %}
          <li>{{ company }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

{% endblock %}
