{% extends "../layout.njk" %}

{% from '../components/colour-chart-divider.njk' import colourChartDivider %}

{% block body %}
<div class="banner">
  <img src="{{ page.banner.src }}" alt="{{ page.banner.alt }}">
  <div class="banner__margin"></div>
</div>

<div class="slogan">
  <h2>{{ page.slogan }}</h2>
</div>

{% call colourChartDivider() %}{% endcall %}

{% endblock %}
