<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ meta.siteDescription }}">
  <link rel="icon" href="{{ meta.siteIcon }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ config.stylesheet }}">
  <script type="application/javascript" src="{{ config.bundle }}" defer></script>
</head>

<body>
  {% block body %}{% endblock %}
</body>

</html>
