<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Site identity -->
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ meta.siteDescription }}">
  <link rel="icon" type="image/png" href="{{ meta.siteIcon }}">

  <!-- Metadata -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ config.stylesheet }}">

  <!-- JS -->
  <script type="application/javascript" src="{{ config.bundle }}" defer></script>
</head>

<body>
  <header class="header">
    <a href="/">
      <img src="{{ headerLogo }}" alt="R.S.D." class="header__logo">
    </a>
    <h1 class="company-name">Re-Style Decorators</h1>
  </header>
  <menu class="menu">
    {% for item in menu %}
      <li>
        <a href="{{ item.href }}">{{ item.page }}</a>
      </li>
    {% endfor %}
  </menu>
  {% block body %}{% endblock %}
  {% include "./icons.njk" %}
  <address id="contact" class="contact">
    <div>
      <p class="contact__email">
        Email:
        <a class="contact__email-link" href="mailto:{{ contact.email }}">
          {{ contact.email }}
        </a>
      </p>
      <p class="contact__tel">Tel: {{ contact.telephone }}</p>
    </div>
    <div class="contact__address">
      <p>{{ contact.address | nl2br | safe }}</p>
    </div>
  </address>
</body>

</html>
