@use '../util/colours' as *;

.banner {
    height: 400px;
    position: relative;

    img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    &__margin {
        position: absolute;
        width: 100%;
        height: 20px;
        bottom: 0;
        background-color: $yellow;
        opacity: 0.75;
        z-index: 1;
    }
}
