@use '../util/colours' as *;
@use '../util/fonts' as *;
@use '../util/screens' as *;
@use '../util/spacing' as *;

.contact {
    @include small-text;
    background-color: $red;
    color: $white;
    border-top: $navy solid 5px;
    display: flex;
    align-items: center;
    padding: $spacing-l 60px;

    @include mobile {
        flex-direction: column;
        align-items: flex-start;
        padding: $spacing-l 30px;
    }

    &__email {
        margin-bottom: 1em;
    }

    &__email-link {
        color: $white;
    }

    &__tel {
        @include mobile {
            margin-bottom: 1em;
        }
    }

    &__address {
        flex-grow: 1;

        @include desktop {
            text-align: right;
        }
    }
}
