@use '../util/colours' as *;
@use '../util/spacing' as *;
@use '../util/units' as *;

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    color: $navy;
    padding-top: $spacing-m;
    padding-bottom: $spacing-s;

    &__logo {
        height: px-to-rem(48);
        object-fit: contain;
    }
}
