@use '../util/screens' as *;
@use '../util/spacing' as *;

.section-image {
    &__container {
        display: flex;
        justify-content: center;
        margin-top: $spacing-m;
        max-width: 100%;
    }

    &__image {
        object-fit: contain;
        position: relative;

        @include desktop {
            width: 50%;
        }

        @include mobile {
            width: 100%;
        }
    }
}
