@use '../util/colours' as *;
@use '../util/fonts' as *;
@use '../util/screens' as *;
@use '../util/spacing' as *;

.section {
    @include mobile {
        &__inner {
            margin: 0 10px;
        }
    }

    @include desktop {
        display: flex;
        justify-content: center;

        &__inner {
            margin: 0 $spacing-xl;
            width: 1280px;
        }
    }

    h3 {
        @include section-heading;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }

    p {
        @include paragraph;
    }

    &--white {
        background-color: $white;

        h3, svg {
            color: $red;
        }

        p {
            color: $navy;
        }
    }

    &--red {
        background-color: $red;
        color: $white;
        border-top: $yellow solid 10px;
    }

    &--grey {
        background-color: $dark-grey;
        color: $navy;
    }

    &--navy {
        background-color: $navy;
        color: $white;
    }
}
