@use '../util/screens' as *;
@use '../util/spacing' as *;

.section-image {
    &__container {
        display: flex;
        justify-content: center;
        margin-top: $spacing-m;
    }

    &__image {
        @include desktop {
            width: 50%;
        }

        @include mobile {
            width: 100%;
        }
    }
}
