@use '../util/fonts' as *;

.services-block {
    display: flex;
    padding-bottom: 60px;

    &__column {
        display: flex;
        margin-right: 30px;
        flex-direction: column;
        flex-basis: 0;
        flex-grow: 1;

        &:last-child {
            margin-right: 0;
        }
    }

    &__row {
        display: flex;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }

        svg {
            margin: 5px 30px 5px 0;
            width: 50px;
            min-width: 50px;
            height: 50px;
            min-height: 50px;
        }

        p {
            @include paragraph;
        }
    }
}
