@use '../util/colours' as *;
@use '../util/fonts' as *;
@use '../util/screens' as *;
@use '../util/spacing' as *;

.slogan {
    background-color: $navy;
    padding-bottom: $spacing-xs;

    &__text-container {
        display: flex;
        justify-content: center;

        h2 {
            @include paragraph-large;
            color: $white;
            margin: $spacing-m 0;
            text-align: center;

            @include desktop {
                max-width: 50%;
            }

            @include mobile {
                max-width: 80%;
            }
        }
    }
}
