@use '../util/colours' as *;
@use '../util/fonts' as *;
@use '../util/spacing' as *;

.slogan {
    background-color: $navy;
    padding-bottom: $spacing-xs;

    &__text-container {
        display: flex;
        justify-content: center;

        h2 {
            @include paragraph-large;
            color: $white;
            margin: $spacing-m 0;
            max-width: 50%;
            text-align: center;
        }
    }
}
