@use '../util/fonts' as *;

.page-title {
    @include page-title;
}

.section-heading {
    @include section-heading;
}

.paragraph-large {
    @include paragraph-large;
}

.paragraph {
    @include paragraph;
}

.spotlight-paragraph {
    @include spotlight-paragraph;
}

.menu-item {
    @include menu-item;
}

.small-text {
    @include small-text;
}

.company-name {
    @include company-name;
}

.text-block {
    p {
        margin: 1.1em 0;
    }

    p:first-child {
        margin-top: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }
}
