$red: #AC2727;
$navy: #393642;
$yellow: #F2C94C;

$white: #FFFFFF;
$off-white: #F4F4F4;
$light-grey: #ECECEC;
$dark-grey: #C4C4C4;

$red-fade-1: #E35A5A;
$red-fade-2: #F78C8C;
$red-fade-3: #FFD2D2;
$red-fade-4: #FFF1F1;
$red-fade-5: #FFF9FA;
