@use 'units' as *;

@mixin page-title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: px-to-rem(56);
    line-height: px-to-rem(84);
    text-transform: uppercase;
}

@mixin section-heading {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: px-to-rem(40);
    line-height: px-to-rem(60);
}

@mixin paragraph-large {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: px-to-rem(28);
    line-height: px-to-rem(42);
}

@mixin paragraph-medium {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: px-to-rem(24);
    line-height: px-to-rem(36);
}

@mixin paragraph-small {
    font-family: 'Arimo';
    font-weight: 700;
    font-size: px-to-rem(20);
    line-height: px-to-rem(23);
}

@mixin menu-item {
    font-family: 'Arimo';
    font-weight: 700;
    font-size: px-to-rem(20);
    line-height: px-to-rem(23);
    text-transform: uppercase;
}

@mixin small-text {
    font-family: 'Arimo';
    font-weight: 700;
    font-size: px-to-rem(16);
    line-height: px-to-rem(18);
}

@mixin company-name {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: px-to-rem(16);
    line-height: px-to-rem(24);
    text-transform: uppercase;
}
